<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>



  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <link rel='stylesheet' href='/MyTest/stylesheets/style.css' />
  <link rel="stylesheet" href="/MyTest/stylesheets/addProduct.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          {{!-- {{#if isLogin}}
          <a class="nav-link" href="/console/login">登入 <span class="sr-only">(current)</span></a>
          {{else}} --}}
          <a class="nav-link" href="/console/logout">登出 <span class="sr-only">(current)</span></a>
          {{!-- {{/if}} --}}
        </li>
      </ul>
    </div>
  </nav>


  <main class="container-fluid p-0 m-0">
    <div class="row no-gutters">
      <div class="col-4 col-sm-3 col-md-2 col-lg-2 bg-dark side-menu">
        <ul>
          <li><a href="/console" class="nav-link text-light">首頁</a></li>
          <li><a href="/console/product" class="nav-link text-light">商品列表</a></li>
          <li><a href="/console/product/add" class="nav-link text-light">新增商品</a></li>
          <li><a href="/console/article" class="nav-link text-light">文章</a></li>
          <li><a href="/console/article/add" class="nav-link text-light">新增文章</a></li>
        </ul>
      </div>
      <div class="col-8 col-sm col-md-10 col-lg p-2 p-md-5">
        {{{body}}}
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>